.App {
  text-align: center;
  margin-top: 44px;
  margin-bottom: 44px;
}

.container {
  width: 317px;
  margin: 0 auto;
  background-image: linear-gradient(25deg, #bd3667, #6c1a31 50%);
  border-radius: 9px;
}

.profile-img {
  height: 317px;
  border-radius: 9px 9px 0 0;
}
